/* html,body{margin:0;padding:0} */




/* Commmon */



.infoWindow {
  padding: 20px;
}


/* Desktop */
.mapContainerDesktop {
  
  height: 80vh;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

body {margin:0;padding:0}

.desktopApp {
background-image: url("./assets/background_white.jpg");
background-size: 50%;
}




/* Mobile */



.mapContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.searchWrapperMobile {
  margin: 8px;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 98);
}

.inputFieldStyle {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 40px;
  padding: 0 12px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  outline: none;
  position: absolute;
  text-overflow: ellipses;
  top: 20px;
  left: 0px;
  right: 0px;
  margin: inputMargin;
}

.mapContainerStyle {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 90vh;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.mobileNav {
  position: sticky;
  margin-top: 10px;
  bottom: 0px;
  display: grid;
  place-items: center;
  border-color: green;
}

.mobileNavSearch {
  position: sticky;
  margin-top: 10px;
  bottom: 0px;
  display: grid;
  place-items: center;
}

.mobileNav div {
  /* background-color: #48f523; */
  padding-bottom: 8px;
 
}

.mobileNavSearch div {
  /* background-color: blue; */
  background-color: white;

}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 894px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1070px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1170px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1700px) {
}
